@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$FontFamily: 'Roboto', sans-serif;

$Breakpoint: 868px;

$ErrorColor: #d81212;
$DarkGrey: #222222;
$Green: #0ebe6c;
$Pantone: #c85c5c;
$LightGray: #f4f4f4;
